.header{
    width: 100%;
    height: 35px;
    background-color: $Brand;
    color: #fff;
    line-height: 35px;
    .left{
        float: left;
        .logbut{
            cursor: pointer;
        }
    }
    .right{
        float: right;
    }
}